/*@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}*/

.add-btn{
    float: right;
    height: 27px;
    padding-top: 1px;
}

/* Custom Teal Colors */
.bg-teal {
    background-color: teal !important; /* Main teal color */
}

.bg-dark-teal {
    background-color: #006666 !important; /* Darker teal for contrast */
}

.bg-light-teal {
    background-color: #009999 !important; /* Lighter teal for differentiation */
}

